.fa-paw:before {
    background-image: url(/common/images/logo2.png);

}
.kor{
	font-family: MalgunGothic;
}
.button-location {
	text-align:right;
}
#classSYL{
	border: 1px solid #6E6D93;
}
#classSYL th,td{
	font-size:15px;
	height:40px;
}
#classSYL th{
	background:#DAD9FF;
}
.lectureContent{
	height:100px;
}