.fa-paw:before {
    background-image: url(/common/images/logo2.png);

}
.kor{
	font-family: MalgunGothic;
}
.button-location {
	text-align:right;
}
#classSYL{
	margin-left: 100px;
	border-collapse: collapse;
}
#tbl{
	width:70%;	
	height:800px;
	text-align:center;
}
#classSYL .lecture-border{
	border: 1px solid #6E6D93;
}
#classSYL th,td{
	font-size:15px;
	height:40px;
}
#classSYL th{
	background:#DAD9FF;
}
.lectureContent{
	height:120px;
}
.lecture-border{
	border: 1px solid #6E6D93;
}
.table-th{
	background:#DAD9FF;		
}
#time-table{
	border-collapse: collapse;
	margin-left: 150px;
	width: 65%;
}
#time-table .lecture-border{
	border: 1px solid #6E6D93;
}
#time-table th,td{
	font-size:15px;
	height:40px;
}
#time-table th{
	background:#2A3F54;
	color: white;
}
#time-table .time-th{
	width:120px;
}
.time-tr{
	height: 80px;
}
.time-day{
	text-align: center;
	height: 40px;
}
#cer-table{
	border: 1px solid black;
	margin-left: 150px;
	width: 65%;
	height: 1200px;
	color: black;
}
.cer-no{
	text-align:left;
}
.cer-title{
	text-align: center;
}
.cer-tit{
	font-size: 50px;
}
.cer-context{
}
.cer-ingam{
	background-image: url("/common/images/ingam3.jpg"); 
	background-size: 100% 65px;
}
.cer-span{
	font-size: 25px;
	margin-left: 150px;
}
.cer-tr{
	height: 30px;
}
#grade-cer-table{
	width: 100%;
	color: black;
}
#grade-info-table{
	width: 100%;
	color: black;
	border: 1px solid black;
	border-collapse: collapse;
}
.grade-cer-tr{
	height: 30px;
}
.grade-div{
	border: 1px solid black; 
	float: left;  
	width: 25%;
	height: 900px;
	
}
.grade-ingam{
	background-image: url("/common/images/ingam3.jpg"); 
	background-size: 100% 30px;
}
.grade-info-th{
	border: 1px solid black; 	
	width: 100px; 
	background: #B6B5DB;
}

.grade-tr-background{
	width:100%; 
	height:20px; 
	border-bottom: 1px solid black; 	
	background: #B6B5DB;	
}
.grade-td-font{
	font-size: 13px;
}
.grade-info-td{
	border: 1px solid black; 	
}
.grade-th{
	text-align: center;
}
.grade-yy{
	text-decoration: underline;
}
