.fa-paw:before {
    background-image: url(/common/images/logo2.png);

}
.kor{
	font-family: MalgunGothic;
}
.button-location {
	text-align:right;
}
#classSYL{
	margin-left: 100px;
	border-collapse: collapse;
}
#tbl{
	width:70%;	
	height:800px;
	text-align:center;
}
#classSYL .lecture-border{
	border: 1px solid #6E6D93;
}
#classSYL th,td{
	font-size:15px;
	height:40px;
}
#classSYL th{
	background:#DAD9FF;
}
.lectureContent{
	height:120px;
}
.lecture-border{
	border: 1px solid #6E6D93;
}
.table-th{
	background:#DAD9FF;		
}
