@CHARSET "UTF-8";
body{
	background:#960707;
}
div.navbar.nav_title{
	background:#960707;
}
div.left_col.scroll-view{
	background:#960707;
}
footer{
	background:#960707;
}
.nav.side-menu>li.active>a{
	background:linear-gradient(#F06161, #F06161), #960707;
}
.nav-md ul.nav.child_menu li:before{
	background:white;
}
.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid white;
}
