@CHARSET "UTF-8";
body{
	background:#5D5D5D;
}
div.navbar.nav_title{
	background:#5D5D5D;
}
div.left_col.scroll-view{
	background:#5D5D5D;
}
footer{
	background:#5D5D5D;
}
.nav.side-menu>li.active>a{
	background:linear-gradient(#747474, #747474), #5D5D5D;
}
.nav-md ul.nav.child_menu li:before{
	background:white;
}
.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid white;
}