<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="str" type="java.lang.String" />
		<typeAlias alias="map" type="java.util.Map" />


		<!-- 상담 -->
		<typeAlias alias="adviceVO" type="com.korea.dto.AdviceVO" />
		<!-- 상담게시판 -->
		<typeAlias alias="adviceBoardVO" type="com.korea.dto.Advice_BoardVO" />
		<typeAlias alias="adviceBoardInsertVO" type="com.korea.dto.Advice_BoardInsertVO" />
		<!-- 사용자 -->
		<typeAlias alias="users" type="com.korea.dto.UsersVO" />
		<!-- 학생 -->
		<typeAlias alias="student" type="com.korea.dto.StudentVO" />
		<!-- 학생뷰 -->
		<typeAlias alias="studentView" type="com.korea.dto.StudentViewVO" />
		<!-- 교수 -->
		<typeAlias alias="professor" type="com.korea.dto.ProfessorVO" />
		<!-- 교수상세보기 -->
		<typeAlias alias="professorDetail" type="com.korea.dto.ProfessorDetailViewVO" />
		<!-- 교수 뷰 -->
		<typeAlias alias="professorView" type="com.korea.dto.ProfessorViewVO" />
		<!-- 교수 정보 -->
		<typeAlias alias="professorInfo" type="com.korea.dto.Professor_InfoViewVO" />
		<!-- 행정 -->
		<typeAlias alias="employee" type="com.korea.dto.School_PersonVO" />
		<!-- 학과 -->
		<typeAlias alias="department" type="com.korea.dto.DepartmentVO" />
		<!-- 쪽지 -->
		<typeAlias alias="message" type="com.korea.dto.MessageVO" />
		<!-- 쪽지뷰 -->
		<typeAlias alias="messageView" type="com.korea.dto.MessageViewVO" />
		<!-- 수강편람 -->
		<typeAlias alias="lb" type="com.korea.dto.Lecture_BreakeDownVO" />
		<!-- 공지사항 -->
		<typeAlias alias="colleageNotice" type="com.korea.dto.Colleage_NoticeVO" />
		<!-- 학생개인정보 -->
		<typeAlias alias="IndivInfoManage" type="com.korea.dto.Student_InfoViewVO" />
		<!-- 행정 정보 -->
		<typeAlias alias="employeeInfo" type="com.korea.dto.School_PersonInfoViewVO" />
		<!-- 첨부파일 -->
		<typeAlias alias="employeeInfo" type="com.korea.dto.School_PersonInfoViewVO" />
		<!-- 파일 업로드 -->
		<typeAlias alias="attachment" type="com.korea.dto.Attachment_FileVO" />
		<!-- 공지사항뷰 -->
		<typeAlias alias="noticeView" type="com.korea.dto.NoticeViewVO" />

		<!-- 학적 변동사항 -->
		<typeAlias alias="colleageRegister" type="com.korea.dto.Colleage_Register_ChangeVO"/>
		<!-- 강의실-->
		<typeAlias alias="classroom" type="com.korea.dto.ClassRoom_InfoVO" />

	</typeAliases>

	<mappers>

		<!-- 로그인 -->
		<mapper resource="sql/mapper/login.xml" />

		<!-- 학과 -->
		<mapper resource="sql/mapper/department.xml" />
		<!-- 교수 -->
		<mapper resource="sql/mapper/professor.xml" />

		<!-- 학과관리 -->
		<mapper resource="sql/mapper/departmentManage.xml" />
		<!-- 학생 -->
		<mapper resource="sql/mapper/student.xml" />
		<!-- 쪽지 -->
		<mapper resource="sql/mapper/message.xml" />
		<!-- 공지사항 -->
		<mapper resource="sql/mapper/colleageNotice.xml" />
		<!-- 수강편람 -->
		<mapper resource="sql/mapper/crsesBook.xml" />
		<!-- 개인정보 -->
		<mapper resource="sql/mapper/IndivInfoManage.xml" />
		<!-- 상담 -->
		<mapper resource="sql/mapper/advice.xml" />
		<mapper resource="sql/mapper/adviceBoard.xml" />

	</mappers>
</configuration>
