<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>
		<typeAlias alias="users" type="com.korea.dto.UsersVO" />
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="str" type="java.lang.String" />
		<typeAlias alias="student" type="com.korea.dto.StudentVO" />

		<!-- 학과정보 -->
		<typeAlias alias="departmentVO" type="com.korea.dto.DepartmentVO" />
		<!-- 상담 -->
		<typeAlias alias="adviceVO" type="com.korea.dto.AdviceVO" />
	</typeAliases>

	<mappers>
		<mapper resource="sql/mapper/login.xml" />
		<mapper resource="sql/mapper/student.xml" />

		<!-- 학과정보 -->
		<mapper resource="sql/mapper/departmentManage.xml" />
		<!-- 상담 -->
		<mapper resource="sql/mapper/advice.xml" />
	</mappers>
</configuration>